/* footer */

#component-footer {
	border-top: 1px solid #e2e2e2;
	background: #fff;
	position: relative;
	// margin-top: 40px;
	padding: 20px 0;
}

.footer-social {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 16px;

	& li {
		list-style-type: none;
	}
}

.footer-social li a {
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
	transition: all ease-in-out 0.3s;
}

.footer-social li a img {
	width: 100%;
}
.viewmore-menu-title {
	font-size: 12px;
	cursor: pointer;
	& i {
		transform: translateY(-2px);
		font-size: 8px;
	}
}
.viewmore-menu-title:hover,
.viewmore-menu-title:hover i {
	color: var(--primary-red);
}

.footer-menu {
	padding: 0;
	& li {
		list-style: none;
	}
}

.footer-menu li:hover a {
	color: var(--black-red);
}

.footer-menu li a,
.footer-menu li span {
	font-size: 14px;
	font-weight: 600;
	color: var(--black);
	text-decoration: none;
}