.product-page {
	// border: 1px solid red;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

}

.product-page-title {
	// border: 1px solid;
	margin: 4px 0;
	font-size: 20px;
	font-weight: 600;
}

.product-wraper {
	// border: 1px solid green;
	width: 100%;
}

.product-list {
	// border: 1px solid blue;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 0.5rem;
}

#btn-see-more {
	color: var(--black);
	width: fit-content;
	font-size: 20px;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

#filter {
	margin-top: 20px;
}

.filter-title {
	font-size: 18px;
	font-weight: 600;
	margin: 20px 0 5px;
}

#filterModule,
.filter-sort {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	row-gap: 10px;
	margin: 8px 0 15px;
}
.filter-btn, .filter-btn span {
    font-size: 12px;
    color: #444;
}
.filter-btn {
    align-items: center;
    background: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    cursor: pointer;
    display: flex
;
    height: 34px;
    padding: 5px 10px;
    white-space: nowrap;
    gap: 5px;
    justify-content: center;
}
.filter-btn i {
    font-size: 12px;
	padding-right: 0.25rem;
}


/* Large screen (≥992px và <1200px) */
@media (max-width: 1200px) {
	.product-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

/* Medium screen (≥768px và <992px) */
@media (max-width: 992px) {
	.product-list {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Small screen (≥576px và <768px) */
@media (max-width: 768px) {
	.product-list {
		grid-template-columns: 1fr 1fr;
	}
}

/* Extra small screen (<576px) */
@media (max-width: 576px) {
	.product-list {
		grid-template-columns: 1fr;
	}
}