.header-main {
	background-color: var(--primary-red);
	padding: 10px 0;
	transition: all ease-in-out 0.2s;
}

.header-main-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.header-logo {
	max-width: 170px;
}

.header-logo a {
	font-size: 28px;
	font-weight: 900;
	color: var(--white);
	text-decoration: none;
	border: none;
}

.header-search-desktop {
	flex: 1;
}

.form-search {
	display: flex;
	align-items: center;
	position: relative;
	gap: 10px;
}

.form-search .form-control {
	padding: 9px 12px;
	border-radius: 6px;
	border: 1px solid var(--border-color);
	background: var(--white);
	height: 40px;
	color: var(--black);
	width: 100%;
	transition: all 0.3s;
	font-size: 16px;
}

.search-btn {
	border: none;
	position: absolute;
	color: var(--color-attr) !important;
	line-height: 20px;

	border-radius: 6px;
	background: initial;
	text-transform: uppercase;
	width: fit-content;
	padding: 0.5rem;
	visibility: visible;
	transition: all 0.3s;
	white-space: nowrap;
	opacity: 1;
	right: 12px;
}

.search-btn i {
	color: var(--color-attr) !important;
	font-size: 17px;
}


.header-top img {
	width: 100%;
	height: 40px;
	object-fit: cover;
}

img {
	border-style: none;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

img,
svg {
	vertical-align: middle;
}

.megamenu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.megamenu>li {
	color: var(--white);
	font-weight: 600;
	position: relative;
	// padding: 0.5rem 0.25rem;
	border-bottom: 3px solid transparent;
	user-select: none;
	cursor: pointer;
}

// .megamenu>li:hover {
// 	border-bottom: 3px solid #ff0;
// 	color: #ff0;
// 	cursor: pointer;
// }

.megamenu>li>a,
.megamenu>li>a>span {
	font-size: 14px;
	text-transform: uppercase;
	color: var(--white);
	font-weight: 600;
}

.megamenu>li>a {
	border-bottom: 3px solid transparent;
	display: flex;
	align-items: center;
	gap: 5px;
	position: relative;
	text-decoration: none;
	padding: 0.5rem 0.25rem;
	text-transform: capitalize;
}
.active {
	border-bottom: 3px solid #ff0 !important;
}

// .megamenu-active {
// 	border-bottom: 3px solid #ff0;
// }

.header-bottom {
	background-color: var(--primary-red) !important;
}

.megamenu>li:first-child>a {
	padding-left: 0;
}

// .megamenu>li:hover>a>span {
// 	color: #ff0;
// }


/*  */
.header-right-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.header-right-link {
	padding: 5px;
	border-radius: 8px;
}

.header-right-item {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 0.5rem;
	position: relative;
	// padding: 0.5rem;
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.header-right-item a {
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
}

.header-right-item {
	& i {
		color: var(--white);
	}

	& a {
		color: var(--white);
	}

	& span {
		color: var(--white);
	}
}

#component-footer {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: #fff;
	position: relative;
	margin-top: 40px;
	padding: 20px 0;
}


.hri-icon {
	display: block;
	height: 36px;
	width: 36px;
	background-color: rgba(255, 255, 255, .15);
	text-align: center;
	line-height: 36px;
	border-radius: 6px;
	color: var(--white);
	position: relative;
}

.hri-icon .cart-qty {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    color: var(--primary-red);
    background: var(--white);
    font-size: 10px;
    font-weight: 700;
    top: 3px;
    right: 4px;
}
.item-category {
	text-transform: capitalize;
}
#auth-infor {
	color: var(--white)
}
@media (max-width: 1023px) {
	.hri-icon {
		background-color: initial;
		font-size: 20px;
	}
}