.content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}
.login-page main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.login-page .auth-content {
    width: 100%;
    max-width: 416px;
    margin: auto;
}
.login-page h2 {
    margin-bottom: 40px;
    font: bold 24px / 29px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.login-page .auth-connections {
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}
.login-page hr.divider {
    height: 1px;
    margin: 30px 0;
    padding: 0;
    overflow: visible;
    border: none;
    background-color: #e7e7e9;
    color: #6e6d7a;
    text-align: center;
}
.login-page html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: 1;
    vertical-align: baseline;
}

.login-page .auth-link {
    text-align: center;
}

.login-page .color-deep-blue-sea-light-20 {
    color: #3d3d4e;
}
.login-page p {
    margin: 20px 0 0;
    color: #000;
    font: normal 14px / 20px "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-page .auth-link a, .auth-link a:visited {
    color: #0d0c22;
    text-decoration: underline;
}
.login-page .underline {
    text-decoration: underline;
}
.login-page a {
    color: #0d0c22;
    text-decoration: none;
}