:root {
	--black: #000;
	--white: #fff;
	--primary-red: #ad1023;
	--secondary-red: #d70018;
	--secondary-red: #AD1023;
	--border-color: #ededed;
	--background-homepage: #f7f8fa;
	--color-attr: #333;
	--color-old-price: #707070;
	--rate-color: #f59e0b;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content-pages {
	/* border: 1px solid red; */
	flex: 1;
	display: flex;
}

.content-pages > div {
	width: 100%;
}