
.admin-product-list button {
    padding: 0.5rem 01rem;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    border: none;
}


// Modal
.modal-confirm {
    // border:  1px solid red;
    display: block;
    background-color: rgba(000, 000, 000, 0.5);
}

.fade {
    transition: opacity .15s linear;
    opacity: 1 !important;
}

.modal-dialog {
    transform: translateY(10%) !important;
}

// .fade:not(.show) {
//     opacity: 1;
// }

.modal button {
    padding: 0.5rem 01rem;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    border: none;
}

